.log {
  border: 2px solid blueviolet;
  background-color: coral;
  padding: 30px 15px;
  transform: translateX(100px);
  transition: background-color 1000ms linear, transform 1000ms linear;
}

.log:hover {
  background-color: cyan;
  transform: translateX(0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  cursor: pointer;
}

:root {
  --pre-title-first-color: rgba(157, 164, 189, 0.6);
  --pre-title-second-color: #303030;
  --pre-title-white-color: #ffffff;
  --title-white-color: #ffffff;
  --title-black-color: #303030;
  --first-text-color: #555555;
  --second-text-color: #9da4bd;
  --third-text-color: #303030;
  --btn--black-text-color: #303030;
  --btn--white-text-color: #ffffff;
  --backgrround-white-color: #ffffff;
  --accent-color: #ff6c00;
}

.pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--pre-title-second-color);
  display: flex;
  align-items: center;
}

.pre-title::before {
  content: "";
  margin-right: 20px;
  background-color: var(--pre-title-second-color);
  width: 60px;
  height: 1px;
}

.title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.16;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--title-black-color);
}

.post-title {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.hero {
  height: 580px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 208px;
  padding-bottom: 183px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: url(../img/hero/mob/hero.mob-min.jpg);
    max-width: 580px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/mob/hero.mob@2x-min.jpg);
  }
}

.hero__container {
  width: 306px;
}

.hero__pre-title {
  color: var(--pre-title-first-color);
  margin-bottom: 20px;
}

.hero__title {
  color: var(--title-white-color);
  margin-bottom: 20px;
  font-size: 42px;
}

.hero__post-title {
  color: var(--second-text-color);
}

.hero__pre-title::before {
  background-color: var(--pre-title-first-color);
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

.logo__link {
  fill: #fff;
}

.mob-header {
  display: flex;
  padding-top: 40px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mob-header-container {
  position: relative;
}

.mob-menu {
  margin-left: auto;
  fill: #fff;
}

.backdrop {
  display: flex;
  background-color: rgba(25, 28, 38, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms linear;
}

.backdrop.is-open {
  pointer-events: visible;
  opacity: 1;
}

.modal {
  display: block;
  margin-left: auto;
  padding: 48px 50px;
  width: 75%;
  height: 100%;
  background-color: var(--backgrround-white-color);
  transform: translateX(100%);
  transition: transform 300ms linear;
}

.backdrop.is-open .modal {
  transform: translateX(0%);
}

.mob-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.mob-button__menu {
  fill: #fff;
}

.modal-nav {
  margin-bottom: 64px;
}

.modal-nav__item {
  margin-bottom: 24px;
}

.modal-nav__item:last-child {
  margin-bottom: 0;
}

.modal-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--third-text-color);
}

.modal-nav__link:focus, .modal-nav__link:hover {
  color: var(--accent-color);
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-contacts__item {
  margin-bottom: 24px;
}

.mob-contacts__item:last-child {
  margin-bottom: 0;
}

.mob-contacts__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.mob-contacts__link:focus, .mob-contacts__link:hover {
  color: var(--accent-color);
}

.mob-social__item {
  margin-bottom: 24px;
}

.mob-social__item:last-child {
  margin-bottom: 0;
}

.mob-social__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.38;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
  display: flex;
  align-items: center;
}

.mob-social__link:focus, .mob-social__link:hover {
  color: var(--accent-color);
}

.mob-social__link::before {
  content: "";
  background-color: #303030;
  width: 60px;
  height: 1px;
  margin-right: 40px;
}

.mob-social__link--youtube::before {
  background-color: white;
}

.btn {
  padding: 12px 37px;
  border-radius: 25px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--btn--black-text-colo);
  border-color: var(--accent-color);
  background-color: transparent;
}

body {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
  margin: 0;
}

.about__text {
  font-size: 14px;
  margin-bottom: 40px;
}

@media screen and (max-width: 479px) {
  .about__text {
    font-size: 10px;
  }
}

.about__title {
  width: 330px;
}

@media screen and (max-width: 479px) {
  .about__title {
    font-size: 30px;
  }
}

.about__post-title {
  margin-bottom: 20px;
}

.about__btn {
  padding-right: 20px;
  padding-left: 20px;
}

.service {
  background-color: #111319;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  max-width: 480px;
}

@media screen and (max-width: 767px) {
  .service {
    background-image: url(../img/prices/bg/imgprice.mob-bg-min.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .service {
    background-image: url(../img/prices/bg/imgprice.mob-bg@2x-min.png);
  }
}

.service__title {
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-white-color);
}

.service__pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.service__pre-title::before {
  background-color: var(--second-text-color);
}

.prices {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: -10px;
}

.prices__item {
  display: flex;
  align-items: center;
  margin: 10px;
}

.prices__text {
  font-size: 14px;
  line-height: 2.14;
  color: var(--second-text-color);
}

@media screen and (max-width: 479px) {
  .prices__text {
    font-size: 12px;
  }
}

.prices__span {
  margin-left: 8px;
  font-size: 14px;
  line-height: 2.14;
  color: var(--second-text-color);
}

@media screen and (max-width: 479px) {
  .prices__span {
    font-size: 12px;
  }
}

.reason__post-title {
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 44px;
}

@media screen and (max-width: 479px) {
  .reason__post-title {
    font-size: 12px;
  }
}

.reason-set {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .reason-set__wrap {
    max-width: 375px;
  }
}

.reason-set__item {
  width: calc((100% / 2) - 30px);
  margin: 15px;
}

@media screen and (max-width: 479px) {
  .reason-set__item {
    margin: 10px;
  }
}

.reason-set__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-black-color);
  margin-bottom: 6px;
}

@media screen and (max-width: 479px) {
  .reason-set__title {
    font-size: 28px;
    margin-bottom: 4px;
  }
}

.reason-set__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--third-text-color);
}

@media screen and (max-width: 479px) {
  .reason-set__text {
    font-size: 8px;
  }
}

.reason-set__container {
  padding: 20px 0;
  max-width: 193px;
  background-color: #f7f7f7;
}

@media screen and (max-width: 479px) {
  .reason-set__container {
    padding: 20px 0;
    max-width: 134px;
  }
}

.reason-set__item:nth-child(2n) {
  margin-top: 50px;
}

@media screen and (max-width: 479px) {
  .reason-set__item:nth-child(2n) {
    margin-top: 30px;
  }
}

.reason-set__title::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--accent-color);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  padding: 12px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  fill: #303030;
}

.social__link :hover,
.social__link :focus {
  fill: var(--accent-color);
}

.card-description {
  text-align: center;
}

.card-description__title {
  margin-top: 30px;
  margin-bottom: 8px;
}

.card-description__text {
  margin-bottom: 30px;
  color: var(--accent-color);
}

.masters__title {
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.masters__list {
  display: flex;
  flex-direction: column;
  margin: -32px;
}

.masters__item {
  margin: 32px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery__pre-title {
  margin-bottom: 44px;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  margin: -15px;
}

.gallery__item {
  margin: 15px;
}

.booking {
  background-color: #191c26;
}

.booking__title {
  text-align: center;
  color: var(--title-white-color);
  margin-bottom: 44px;
}

.booking__input {
  margin-bottom: 44px;
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #fff;
  outline: none;
}

.booking__textarea {
  resize: none;
  min-height: 76px;
}

.booking__btn {
  color: var(--btn--white-text-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.booking__input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contacts {
  background-color: #191c26;
}

.contacts__title {
  margin-bottom: 40px;
  text-align: center;
  color: var(--title-white-color);
}

.contacts__address {
  margin-bottom: 44px;
}

.contacts__icon {
  margin-right: 20px;
}

.contacts__link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--second-text-color);
}

@media screen and (max-width: 479px) {
  .contacts__link {
    font-size: 12px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__pre-title {
  color: var(--pre-title-white-color);
}

.contacts__text {
  font-size: 18px;
  line-height: 1.66;
  color: var(--second-text-color);
}

.contacts__link--mail {
  text-decoration: underline;
}

.contacts__pre-title::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.footer {
  margin-top: 44px;
  margin-bottom: 44px;
  background-color: var(--backgrround-white-color);
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.footer__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.footer__item {
  margin-right: 40px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}

.footer__text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}

.footer__text::before {
  margin-right: 6px;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../icons/copyright.svg);
}
/*# sourceMappingURL=main.css.map */