.gallery {
  &__pre-title {
    margin-bottom: 44px;
    // @media screen and (max-width: 479px) {
    //   font-size: 8px;
    // }
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin: -15px;
  }
  &__item {
    margin: 15px;
  }
}
