.hero {
  height: 580px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 208px;
  padding-bottom: 183px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    background-image: url(../img/hero/mob/hero.mob-min.jpg);
    max-width: 580px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/hero/mob/hero.mob@2x-min.jpg);
    }
  }
  &__container {
    width: 306px;
  }
  &__pre-title {
    color: var(--pre-title-first-color);
    margin-bottom: 20px;
  }
  &__title {
    color: var(--title-white-color);
    margin-bottom: 20px;

    font-size: 42px;
  }
  &__post-title {
    color: var(--second-text-color);
  }
}
.hero__pre-title::before {
  background-color: var(--pre-title-first-color);
}
