.masters__title {
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  @media screen and (max-width: 479px) {
    font-size: 28px;
  }
}
.card-description {
  text-align: center;
  &__title {
    margin-top: 30px;
    margin-bottom: 8px;
  }
  &__text {
    margin-bottom: 30px;
    color: var(--accent-color);
  }
}
.masters {
  &__list {
    display: flex;
    flex-direction: column;
    margin: -32px;
  }
  &__item {
    margin: 32px;
  }
}
