.service {
  background-color: #111319;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 1199px) {
    max-width: 768px;
    background-image: url(../../img/service/bg/tabl/imgtabl.service.bg-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../img/service/bg/tabl/imgtabl.service.bg@2x-min.png);
    }
  }
  @media screen and (max-width: 767px) {
    background-image: url(../img/service/bg/mob/service.mob-bg-min.png);
    max-width: 480px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/service/bg/mob/service.mob-bg@2x-min.png);
    }
  }

  &__title {
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--title-white-color);
    // @media screen and (max-width: 479px) {
    //   font-size: 28px;
    // }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: -10px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin: 10px;
  }
  &__text {
    color: var(--second-text-color);

    @media screen and (max-width: 1199px) {
      font-size: 18px;
      line-height: 1.666;
    }
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }

    @media screen and (max-width: 479px) {
      font-size: 12px;
      line-height: 2.14;
    }
  }
  .service__item::before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin-left: 6px;
    margin-right: 6px;
  }
  &__description {
    order: -1;
  }

  &__btn {
    color: var(--btn--white-text-color);

    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
// .service__span {
//   display: flex;
// }
// .service__span::before {
//   content: "";
//   flex-grow: 1;

//   height: 1px;

//   background-color: red;
// }

.service__pre-title {
  // @media screen and (max-width: 479px) {
  //   font-size: 8px;
  // }
  color: rgba(157, 164, 189, 0.6);
}
.service__pre-title::before {
  background-color: var(--second-text-color);
}
