.btn {
  padding: 12px 37px;
  border-radius: 25px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--btn--black-text-colo);
  border-color: var(--accent-color);
  background-color: transparent;
  @media screen and (max-width: 479px) {
    padding: 10px 25px;
    font-size: 10px;
  }
}
