.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1199px) {
    padding-left: 39px;
    padding-right: 39px;
    width: 768px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }
}
