.modal {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 48px 50px;
  width: 75%;
  height: 100%;

  background-color: var(--backgrround-white-color);
  transform: translateX(100%);
  transition: transform 300ms linear;
  &-bottom {
    margin-top: auto;
  }
}
.backdrop.is-open .modal {
  transform: translateX(0%);
}
.mob-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
  &__menu {
    fill: #fff;
  }
}

.modal-nav {
  margin-bottom: 64px;
  &__item {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--third-text-color);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}
.mob-contacts {
  margin-bottom: 64px;
  &__item {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--third-text-color);
    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
}
.mob-social {
  &__item {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.38;
    letter-spacing: 0.2em;

    color: var(--third-text-color);
    &:focus,
    &:hover {
      color: var(--accent-color);
    }
    display: flex;
    align-items: center;
    &::before {
      content: "";
      background-color: #303030;
      width: 60px;
      height: 1px;
      margin-right: 40px;
    }
  }
}
.mob-social__link--youtube::before {
  background-color: rgb(255, 255, 255);
}
