:root {
  --pre-title-first-color: rgba(157, 164, 189, 0.6);
  --pre-title-second-color: #303030;
  --pre-title-white-color: #ffffff;

  --title-white-color: #ffffff;
  --title-black-color: #303030;

  --first-text-color: #555555;
  --second-text-color: #9da4bd;
  --third-text-color: #303030;

  --btn--black-text-color: #303030;
  --btn--white-text-color: #ffffff;

  --backgrround-white-color: #ffffff;

  --accent-color: #ff6c00;
}
